.register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.register h1 {
  font-size: 40px;
  font-weight: 600;
}

.incorrect {
  border: 1px solid red;
}

.incorrect:focus {
  border: 1px solid red;
}

.correct {
  border: 2px solid black;
}
